@import 'settings';
@import 'foundation-emails';

@import 'template/template';

/*============end strat=================*/
.background-sign{
    background-image: url(http://adobecomunicaciones.com/assetsmtk/abodeSign/heroSign.png);
    background-size: cover;
}
.hero-sign{
   p{
    color: white;
   }
}
p.text-main {
    text-align: center;
    font-weight: 600;
}
.main-items {
    background-color: #bca6d9;
}
.padding-min{
    padding: 3px!important;
}
.margin-bottom{
    margin-bottom: 0!important;
}
.main-items a {
    line-height: 12px;
    height: 8px;
}
.img-right {
    position: absolute;
    width: 205px;
    right: -35px;
}
.img-left {
    position: absolute;
    left: -33px;
    width: 190px;
}
.main-text{
   p.title {
        color: #574cc8;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0;
    }
    p.text-bold {
        font-size: 14px;
        font-weight: 600;
    }
    p.text {
        font-size: 14px;
    }
}

/*============end adobeSign=================*/
/*============strat adobeDocument=================*/

.adobe-documents{
    .logo{
        width: 247px;
    }
    .title-bold{
        font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 33px;
    }
    .text-secondary p {
        font-size: 15px!important;
        line-height: 20px!important;
    }
    .text-red{
        color: red;
    }
    
}
.mani-adobe-docuemnts{
    li {
        color: red;
        font-weight: 700;
    }
    p{
        font-size: 14px;
    }
}
.footer-client{
    .rouded tr td table td {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 23px;
        font-size: 14px;
        background-color: #4274ce;
        width: 215px;
    }
    p{
        color: black;
    }
}

/*============end adobeDocument=================*/
/*============end adobeCreate=================*/
.hero{
    .logo {
        width: 200px;
    }
    p.text {
        font-size: 23px;
        line-height: 18px;
    }
    .text-bold {
        font-weight: 800;
    }
}
.main-create{
    img.icon{
        width: 90px;
        margin: auto;
    }
    
}
.main-text-create{
    p.title{
        font-size: 14px;
        color: #fc6bfc;
        font-weight: 600;
        line-height: 18px;
    }
   }
   .main-create{
       p.text{
        font-size: 11px;
        font-weight: 700;
        margin-top: 25px;
       
       }
   }
   .blue-text{
       color: #3965ef;
   }
   .text-footer{
    font-size: 10px;
    text-align: center;
    color: gray;
   }

/*============end adobeCreate=================*/