<row class="black-background footer">
    <columns large="1">


    </columns>
    <columns large="2">
      <spacer size="32"></spacer>

      <img src="http://adobecomunicaciones.com/assetsmtk/logo-Adobe-footer.png" />
      <spacer size="16"></spacer>

      <h6>Contáctanos</h6>


      <menu class="menu-icon">
        <item>
          <img src="http://adobecomunicaciones.com/assetsmtk/phone.png" />
        </item>
        <item>
          <p><a href="tel:##organization.Telephone##">##organization.Telephone##</a></p>
        </item>

      </menu>
      <menu class="menu-icon">
        <item>
          <img src="http://adobecomunicaciones.com/assetsmtk/what.png" />
        </item>
        <item>
          <p><a href="https://wa.me/##organization.Telephone##">##organization.Telephone##</a></p>
        </item>

      </menu>


    </columns>
    <columns large="2">
      <spacer size="64"></spacer>

      <h6>Sobre nosotros</h6>
      <p>Adobe</p>
      <p>345 Park Avenue</p>
      <p>San José, CA 95110-2704, EE. UU.</p>
    </columns>
    <columns large="1">


    </columns>

  </row>
  <row class="black-background footer main">
    <columns class="main ">
      <row>
        <columns class="white-border">
        </columns>
      </row>
    </columns>
  </row>
  <row class="black-background footer">
    <columns large="6">

      <center>
        <p class="center">© Copyright 2021 adobe. All Rights reserved.</p>
      </center>

    </columns>
    <columns large="6">
      <row>

        <columns large="2">
          <center>
            <menu>


              <item>

              </item>
              <item>

              </item>
              <item>

              </item>
              <item>

              </item>
              <item><a href="https://es-la.facebook.com/adobelatinoamerica/"><img class="social"
                    src="http://adobecomunicaciones.com/assetsmtk/face.png" /></a>
              </item>
              <item><a href="https://www.linkedin.com/company/adobe/?originalSubdomain=mx"><img class="social"
                    src="http://adobecomunicaciones.com/assetsmtk/in.png" /></a>
              </item>
              <item><a href="https://es-la.facebook.com/adobelatinoamerica/"><img class="social"
                    src="http://adobecomunicaciones.com/assetsmtk/intra.png" /></a>
              </item>

            </menu>
          </center>

        </columns>
      </row>


    </columns>
  </row>
  <row class="grey-background footer main">

    <columns large="1">
    </columns>
    <columns large="10">
      <spacer size="24"></spacer>

      <p>Adobe y el logo Adobe son marcas registradas o marcas de Adobe en Estados Unidos y/o en otros países. Todas las
        otras
        marcas registradas son propiedad de sus respectivos dueños.</p>

      <p>© 2021 Adobe. Todos los derechos reservados.</p>

      <p>De otra manera no especificada, quienes se registren deben al menos tener 18 años de edad para asistir a
        eventos
        Adobe.
        Al dar clic en algunos de los links de este correo, tal vez sea dirigido a formularios que tengan un pre-llenado
        con sus
        datos. Este es un mensaje publicitario de Adobe, sus afiliados y agentes (Adobe), 345 Park Avenue, San José, CA
        95110
        USA. Su privacidad es importante para nosotros. Por favor revise las <a
          href="https://www.adobe.com/pt/privacy/policy.html">Políticas de Privacidad de
          Adobe</a></p>
    </columns>
    <columns large="1">
    </columns>
  </row>
